<!DOCTYPE html>
<html ng-app="cadastroPessoa">
<head>
	<title>pessoa</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/pessoaCSS">
	<script src="angular.js"></script>
	<script src="js/appPessoa.js"></script>
	<script src="js/controllers/pessoa.js"></script>
	<script src="js/services/clienteAPIService.js"></script>
	<scr>
</head>
<body ng-controller="cadastraPessoa">
	<div class="jumbotron">
		<h3>{{tituloPessoa}}</h3>
		<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Filtro de Busca" />
		<table class="table">
			<tr>
				<th></th>
				<td>Nome</td>
				<td>Porcentagem</td>
			</tr>
			<tr ng-class="{'selecionado negrito': pessoa.selecionado}" ng-repeat= "pessoa in pessoas | filter: criterioDeBusca">
				<td><input type="checkbox" ng-model="pessoa.selecionado"></td>
				<td>{{pessoa.nm_pessoa}}</td>
				<td>{{pessoa.pct}}</td>
			</tr>
		</table>

		<hr/>
		<input class="form-control" type="text" ng-model="pessoaIn.nmPessoa" placeholder="Nome" />
		<input class="form-control" type="text" ng-model="pessoaIn.pct" placeholder="Porcentagem a ganhar"/>

		<button class = "btn btn-block btn-primary" ng-click="adicionaPessoa(pessoaIn)" ng-disabled="!pessoaIn.nmPessoa || !pessoaIn.pct">Adicionar pessoa</button>
		<button class = "btn btn-block btn-danger" ng-click="apagaPessoa(pessoas)" ng-disabled="!pessoaselecionado(pessoas)" >Deletar pessoa</button>
	</div>
</body>
</html>