<!DOCTYPE html>
<html ng-app="Cheque">
<head>
	<title>Cheque</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/chequeCSS">
	<script src="angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/Cheque.js"></script>
	<script src="js/services/chequeAPIService.js"></script>
	<scr>
</head>
<body ng-controller="listaChequeCtrl">
	<div class="jumbotron">
		<h3>{{tituloCheque}}</h3>
		{{cheques}}
		{{chequeIn}}
		<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Filtro de Busca" />
		<table class="table">
			<tr>
				<td></td>
				<td>Data do Cheque</td>
				<td>Numero Cheque</td>
				<td>Cliente</td>
				<td>%</td>
				<td>Valor</td>
				<td>Receber</td>
			</tr>
			<tr ng-class="{'selecionado negrito': cheque.selecionado}" ng-repeat= "cheque in cheques | filter: criterioDeBusca">
				<td><input type="checkbox" ng-model="cheque.selecionado"></td>
				<td>{{cheque.dt_cheque | date: 'dd-MM-yyyy'}}</td>
				<td>{{cheque.nr_cheque}}</td>
				<td>{{cheque.nm_pessoa}}</td>
				<td>{{cheque.pct}}</td>
				<td>{{cheque.vl_cheque}}</td>
				<td>{{cheque.vl_receber}}</td>
			</tr>
		</table>

		<hr/>
		<input class="form-control" type="text" ng-model="chequeIn.dtCheque" placeholder="Data do Cheque" />
		<input class="form-control" type="text" ng-model="chequeIn.nrCheque" placeholder="Numero do Cheque"/>
		<input class="form-control" type="text" ng-model="chequeIn.vlCheque" placeholder="Valor do Cheque"/>
		<select class="form-control" ng-model="chequeIn.cliente" ng-options="cliente.nm_pessoa for cliente in clientes">
			<option value="">Selecione o cliente</option>
		</select>
		<button class = "btn btn-block btn-primary" ng-click="adicionarCheque(chequeIn)" ng-disabled="!chequeIn.dtCheque || !chequeIn.nrCheque">Adicionar Cheque</button>
		<button class = "btn btn-block btn-danger" ng-click="apagarCheque(cheques)" ng-disabled="!chequeSelecionado(cheques)" >Deletar Cheque</button>
	</div>
</body>
</html>